.root .pane .legend {
    -fx-fill: #F6911F;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.root .pane TextField, PasswordField {
    -fx-background-color: none;
    -fx-border-radius: 0;
    -fx-border-style: solid;
    -fx-border-color: #F6911F;
    -fx-prompt-text-fill: #909090;
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
}

.root .pane Button {
    -fx-background-color: linear-gradient(to top right, #E93429, #F6911F);
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.root .pane Button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}